/* Scheme page styling */
/* Background */

.schemes-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/farm_bg.jpg);
    min-height: 90vh; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    padding: 2rem; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Container */
.schemes-container {
    width: 100%;
    max-width: 1000px; 
    display: flex;
    flex-direction: column; 
    gap: 2rem; /* Space between each card */
}

/* Card Design */
.scheme-card {
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 20px; 
    padding: 2rem;
    color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, background-color 0.3s;
}

.scheme-card:hover {
    transform: translateY(-5px); /*lift card up on hover*/
    background-color: rgba(0, 0, 0, 0.75); /* makes card darker */
}

.scheme-name {
    color: #FFFF00; 
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    margin-bottom: 1.5rem;
}

.scheme-info {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.6; 
}

/* Highlights ELigibility and benefits */
.label-yellow {
    color: #FFFF00;
    font-weight: bold;
    margin-right: 5px;
}