/* COntact & Admin Page Styling*/

.contact-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/farm_bg.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

/* Transperent box */
.contact-box {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 3rem;
    border-radius: 20px; 
    width: 100%;
    max-width: 500px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); 
    border: 1px solid rgba(255, 255, 255, 0.1); 
}

/* Input lables */
.contact-label {
    display: block; 
    color: white;
    font-size: 1.1rem;
    margin-bottom: 8px;
    font-weight: 500;
}

/* Input Fields */
.contact-input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px; /* Space between inputs */
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9); 
    font-size: 1rem;
    font-family: inherit;
    outline: none;
}

/* Highlight input when click */
.contact-input:focus {
    background-color: white;
    box-shadow: 0 0 5px #FFFF00;
}

/* Submit Button */
.submit-btn {
    display: block;
    width: 50%; 
    margin: 10px auto 0; 
    padding: 12px;
    background-color: #00b300; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s; /* Smooth color change */
}

.submit-btn:hover {
    background-color: #008000; /* Darker green on hover */
}

/* Validation Message */
.message {
    color: #FFFFFF;
}